@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway',sans-serif;
    /* background-color: #7fbaf3; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* row-gap: 1rem; */
    /* justify-content: center;
    align-items: center; */
    /* margin: 0; */
    /* min-height: 100vh; */
    /* padding-top: 3rem; */
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #fff;
}
.container::before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #4481eb,#04befe);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}
.form__container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.singin__singup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0.5rem;
    overflow: hidden;
    transition: .2s .7s ease-in-out;
}

form.sing__form{
    z-index: 2;
}

form.sing__form-up{
    z-index: 1;
    opacity: 0;
}
.sing__title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 1rem;
}
.input__file{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}
.sing__icon{
    margin: auto;
    font-size: 1.25rem;
    color: #acacac;
}
.sing__input{
    border: none;
    background: none;
    outline: none;
    line-height: 1;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}

.sing__input::placeholder{
    color: #acacac;
    font-weight: 500;
}
.btn{
width: 150px;
height: 49px;
border: none;
outline: none;
border-radius: 50px;
cursor: pointer;
background: #5995fc;
color: #fff;
text-transform: uppercase;
font-weight: 600;
margin: 10px 0;
transition: .5s;
}

.btn:hover{
    background: #1f5ecc;
}
.social__text{
    padding: .7rem 0;
    font-size: 1rem;
}
.social__media{
    display: flex;
    justify-content: center;
}
.social__icon{
    height: 46px;
    width: 46px;
    border: 2px solid #333;
    margin: 0 .45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: 0.3s;
}
.social__icon:hover{
    color: #1f5ecc;
    border-color: #1f5ecc;
}

/* Para posicionar lo paneles */
.panel__container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: green; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: justify;
    z-index: 7;
}
.left__panel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}
.right__panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}
.panel__content{
    color: #fff;
    transition: .9s .6s ease-in-out;
}
.panel__title{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}
.panel__description{
    font-size: 0.9rem;
    padding: 0.7rem 0;
}
.transparent{
    margin: 0.5rem 0;
    background: none;
    border:2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.panel__img{
    width: 100%;
    transition: .9s .6s ease-in-out; 
}
.right__panel .panel__content, 
.right__panel .panel__img{
    transform: translateX(800px)
}

/* Animaciones de transicion */
.singUp__mode::before{
    transform: translate(100%,-50%);
    right: 52%;
}

.singUp__mode .left__panel .panel__img,
.singUp__mode .left__panel .panel__content{
    transform: translateX(-800px);
}

.singUp__mode .right__panel .panel__img,
.singUp__mode .right__panel .panel__content{
    transform: translateX(0px);
}

.singUp__mode .left__panel{
    pointer-events: none;
}

.singUp__mode .right__panel{
    pointer-events: all;
}

.singUp__mode .singin__singup{
    left: 25%;
}
.singUp__mode .sing__form{
    z-index: 1;
    opacity: 0;
}
.singUp__mode .sing__form-up{
    z-index: 2;
    opacity: 1;
}

/* ADAPTACIONA  MEDIDAS */
@media screen and (max-width:870px){
    .container{
        min-height: 800px;
        height: 100vh;
    }
    .container::before{
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    .singin__singup{
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%,-100%);
        transition: 1s 0.8s ease-in-out;
    }
    .panel__container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }
    .panel__content{
        padding-right: 15%;
        transition: 0.9s .6s ease-in-out;
    }
    .panel__title{
        font-size: 1.2rem;
    }
    .panel__description{
        font-size: 0.7rem;
        padding: .5rem 0;
    }
    
    .transparent{
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }
    .panel__img{
        width: 200px;
        transition: 0.9s .6s ease-in-out;
    }

    .left__panel{
        grid-row: 1/2;
    }
    .right__panel{
        grid-row: 3/4;
    }
    .right__panel .panel__content,
    .right__panel .panel__img{
        transform: translateY(300px);
    }

    .container.singUp__mode::before{
        transform: translate(-50%,  100%);
        bottom: 32%;
        right: initial;
    }
    .singUp__mode .left__panel .panel__img,
    .singUp__mode .left__panel .panel__content{
        transform: translateY(-300px);
    }
    .singUp__mode .singin__singup{
        top: 5%;
        transform: translate(-50%,0);
        left: 50%;
    }
}

@media screen and (max-width:570px) {
    form{
        padding: 0 1.5rem;
    }
    .panel__img{
        display: none;
    }
    .panel__content{
        padding: 0.5rem 1rem;
    }
    .container::before{
        bottom: 72%;
        left: 50%;
    }
    .singUp__mode::before{
        bottom: 28%;
        left: 50%;
    }
}